<h1>Welcome back {{data.name}}</h1>
<a
  href="/edit-profile/{{data.id}}"
  style="margin-right: 10px; text-decoration: none;"
>Edit Profile</a>
<a href="/add-topic" style="margin-right: 10px; text-decoration: none;">Add
  Topic</a>
<a href="/add-dictionary" style="margin-right: 10px; text-decoration: none;">Add
  Dictionary</a>
<a href="/log-out" style="margin-right: 10px; text-decoration: none;">Log out</a>