<div class="card mx-auto mt-5" style="width: 20rem;">
  <div class="card-body">
    <h3 class="card-title">{{data.term}}</h3>
    <p class="card-text">{{data.description}}</p>
    <a href="/dict" class="btn btn-primary float-end">Back</a>
  </div>
</div>